[Unit]
Description=modprobed-db scan and store new modules
Documentation=man:modprobed-db(8)
Documentation=https://wiki.archlinux.org/index.php/Modprobed-db

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobed-db storesilent
ExecStop=/usr/bin/modprobed-db storesilent

